@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    
--cor0: rgb(215, 218, 47);
--cor1: rgb(215, 51, 40);



--cor2: rgb(255, 255, 255);
--cor3: rgb(227, 243, 253);
--cor4: rgb(154, 190, 213);
--cor5: rgb(107, 148, 168);
--cor6: rgb(78, 110, 126);
--cor7: rgb(18, 47, 63);
}

@font-face {
    font-family: 'Plus';
    src: url('./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype'), url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 20px;
    font-family: 'Plus';
    background-color: var(--cor3);
}

main{
    display: flex;
    align-items: stretch;

    width: 100%;
    max-width: 1000px; 
   
}

.formulario{
    background: var(--cor2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    flex: 1;

    
    padding: 40px;
    border-radius: 20px 0px 0px 20px;
    
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo p{
    text-decoration: underline;
    cursor: pointer;
     font-size: 16px;
    color: var(--cor7);
    font-weight: bold;
}

input{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
   
    border: 2px solid var(--cor4);
    font-size: 1em;
}

input[type="number"]{
     border-left: 30px solid var(--cor4);
     margin-bottom: 20px;
     padding: 10px 15px;
}

input:hover{
    border: 1px solid var(--cor0);
}

input:focus{
    outline: none;
    border-color: var(--cor0);
}

.formulario > form label{
    gap: 5px;
    font-size: 13px;
    color: var(--cor7);
    font-weight: bold;
}

.valor label{
    display: flex;
    flex-direction: column-reverse;
}

.div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.div input{
    width: 100%;
    padding: 10px;
}
.div label{
    display: flex;
    flex-direction: column-reverse;
    
}

button[type="submit"]{
    background: var(--cor0);
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
    
}

button[type="submit"]:hover{
    background-color: rgb(190, 193, 35);
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.tipo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tipo p{
     font-size: 13px;
    color: var(--cor7);
    font-weight: bold;
}

.click{
    display: flex;
    align-items: center;
    gap: 10px;

    border: 2px solid #bfcfd8;
    border-radius: 8px;
    padding: 15px;

    font-size: 1.1em;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s;
}

.click:hover{
    border-color: var(--cor0);
}

.click input{
    display: none;
}

.click span{
    width: 20px;
    height: 20px;

    border: 2px solid #7d8b94;
    
    border-radius: 50%;

    position: relative;
}

.click span::after{
    content: "";

    width: 10px;
    height: 10px;

    background-color: #d8e62e;
    
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);

    transition: 0.3s;
}

.click input:checked + span::after{
    transform: translate(-50%, -50%) scale(1);
    
}

.click:has(input:checked){
    border-color: #d8e62e;
}

.resultado{
    flex: 1;
    background: var(--cor7);
    color: var(--cor2);

    padding: 40px;
    border-radius: 0px 20px 20px 60px;
}

.resultado h2{
    color: white;
    margin-bottom: 20px;
    font-size: 2em;
}

.resultado p{
    color: var(--cor4);
    line-height: 1.6;
    margin-bottom: 30px;
}
.res{
    background-color: rgb(10, 31, 43);
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;

    border-top: 4px solid var(--cor0);
}

#mensal{
    color: var(--cor0);
    font-size: 3em;
    margin: 20px 0px;
}

#total{
    color: white;
    margin: 10px;
}
